application/config/database.php
.htaccess
database.php
*.class
*.pyc
*.pyo
/nbproject/private/
system/libraries/Hcmp_functions.php
/pdf/
/drug_commodity_map.sql
/drugs not in commodities table.txt
/nbproject
/stash
database_backups
*.xls
/system/libraries/Doctrine_
application/config/config.php
README.md
sync_files/sample.txt
sync_files/
system_updates/
tmp/
